.chart-container {
    width: 95%;
    text-align: center;
    margin: 10px 1% 7% 3%;
    padding: 15px;
    box-shadow: 0px 0px 3px 0px #909090;
}

.line {
    height: 90%; 
}

bar{
    height: 95%; 
}

.line-chart {
    margin: auto;
}